.m-input {
  box-sizing: border-box;
  height: 36px;
  color: #000;
  border-radius: 4px;
  border: 1px solid #bbb;
  outline: unset;
  padding: 0 16px;
  line-height: 36px;
  font-size: 14px;
  width: 200px;
}

.m-input:focus {
  border: 1px solid #019160;
}

.m-input::placeholder {
  font-size: 12px;
}

.m-input {
  box-sizing: border-box;
  height: 36px;
  color: #000;
  border-radius: 4px;
  border: 1px solid #bbb;
  outline: unset;
  padding: 0 16px;
  line-height: 36px;
  font-size: 14px;
  font-family: Roboto;
}

.m-input:focus {
  border-color: #019160;
}

.m-input::placeholder {
  font-size: 11px;
  color: #bbb;
}

.m-input-icon {
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 40px;
  padding-right: 16px;
}

/*  */
.field-input {
  position: relative;
}

.input {
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  min-height: 32px;
  padding-left: 10px;
  padding-right: 35px;
  outline: none;
  width: 100%;
  font-size: 13px;
}

.input:hover {
  outline: 1px solid #e2e2e2;
}

.input:focus {
  outline: none;
}

input[type="datetime-local"] {
  padding-right: 10px;
}

.input::placeholder {
  font-size: 13px;
  color: #bbbbbb;
}

.input:focus {
  border: 1px solid #019160;
  font-size: 13px;
  color: #000000;
}

/* Icon clear input */
.clear-input {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  height: 15px;
  width: 15px;
  background-color: #d1d1d1;
  color: #7d7d7d;
  font-size: 10px;
  cursor: pointer;
  visibility: visible;
}

.show-clear-input {
  visibility: visible;
}

/* Thông báo lỗi */
.error-input,
.error-input:focus {
  border-color: #ff4747;
}

.error-input-alert {
  z-index: 21;
  position: absolute;
  background-color: #ff7777;
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 4px;
  top: calc(100% + 2px);
  min-width: 200px;
  max-width: 300px;
  left: calc(50%);
  transform: translateX(-50%);
}

.error-input-arrow {
  position: absolute;
  background-color: #ff7777;
  bottom: calc(100% - 6px);
  left: calc(50% - 4px);
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  /* transform: translateX(-50%); */
  z-index: 0;
}

.error-input-content {
  position: relative;
  z-index: 1;
}

.under_input {
  color: red;
}
